* {
  color: white;
}

#root {
  background-color: #1e2124;
  min-height: 100vh;
  position: relative;
  text-decoration: none;
}

/* nav bar */
nav ul li:hover {
  cursor: pointer;
}

/* about me section */
.profile-image {
	max-width: 100%;
}

.profile-text {
	text-align: center;
	align-items: center;
}

.profile-text a {
  text-align: center;
}

.section-break {
	margin-top: 100px;
}

/* footer section */
.footer {
  /* background-image: url(./assets/footer/wave.svg); */
  /* background-repeat: no-repeat; */
  /* background-position: bottom; */
  min-height: 1000px;
  max-height: 2000px;
  align-items: flex-end;
  text-align: center;
  min-width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-text {
  background-color: transparent;
  position: absolute;
  bottom: 20px;
}

.footer-icons {
	font-size: x-large;
}