* {
	color: white;
}

#root {
	background-color: #1e2124;
	min-height: 100vh;
	position: relative;
	text-decoration: none;
}

.my-name {
	color: #00cba9;
	font-size: xx-large;
}

nav,
main {
	padding: 100px 100px;
}

/* nav bar */
.navbar-brand span {
	font-size: 40px;
}

nav ul li {
	font-size: 24px;
}

nav ul li:hover {
	cursor: pointer;
}

/* about me section */
.profile-image {
	max-width: 100%;
}

.profile-text {
	text-align: center;
	align-items: center;
	font-size: larger;
}

/* footer section */
.footer {
	max-height: 500px;
	text-align: center;
	min-width: 100%;
	position: absolute;
	bottom: 0;
	/* bootstrap adds --bs-gutter-x padding of 1.5rem when using .row class */
	--bs-gutter-x: 0 !important;
}

.footer-text {
	position: absolute;
	bottom: 20px;
}

.footer-icons {
	font-size: x-large;
}

.nav-active {
	color: #00cba9;
}

/* Skills section */
.skills-container {
	align-items: center;
}

.skills-blob {
	/* position:absolute; */
	display: flex;
	opacity: 0.5;
	top: 200px;
	left: 30px;
}

.skills-title {
	align-items: center;
}

.skills-title h3 {
	color: #00cba9;
}

.skills-icon {
	color: #00cba9;
	font-size: xx-large;
	margin-right: 10px;
}
